{% extends 'TillageWizards/Head.html' %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab" style="width: 100%;padding-left:100px;">
        <br><br><br><br><br><br>
        <h3 style="padding-left: 500px; "><b>Changepassword</b></h3>
    <form method="post">
        <table border="2" width="350px" style="background-color: violet;" align="center">
           
            <tr>
                <th>Currentpassword</th>
                    <td>
                        <input type="password" name="currentpassword">
                    </td>
            </tr>
            <tr>
                <th>Newpassword</th>
                <td>
                    <input type="password" name="newpassword">
                </td>
            </tr>
            <tr>
                <th>confirmpassword</th>
                <td>
                    <input type="password" name="confirmpassword" onblur="return checkpwd(newpassword,this)">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsave" value="save">
                    <input type="reset" name="btncancel" value="cancel"
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
<script>
    
function checkpwd(confirm, pass) {
    if(confirm.value != pass.value){
        alert("password Mismatch")
        return false
    }
    else{
        return true
    }
    }

</script>
</html>
<br><br><br>
{% endblock %}