<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hii</h1>
    <a href="{%  url 'TillageWizards:my-profile' %}">My Profile</a>
    <a href="{%  url 'TillageWizards:edit-profile' %}">edit Profile</a>
    <a href="{%  url 'TillageWizards:change-password' %}">change password</a>
    <a href="{%  url 'TillageWizards:Add-product' %}">Add product</a>
    <a href="{%  url 'TillageWizards:View-Orders' %}">View Orders</a>
    <a href="{%  url 'TillageWizards:Feedback-Wizards' %}">Send feedback</a>
    <a href="{%  url 'TillageWizards:shop-complaints' %}">Send complaints </a>
    <a href="{%  url 'TillageWizards:viewshop-complaints' %}">viewmy complaints </a>
    <a href="{%  url 'TillageWizards:viewuser-complaints' %}">viewuser complaints </a>
    <a href="{%  url 'TillageWizards:logout' %}">Logout</a>
</body>
</html>