{% extends 'Wizards/Head.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab" style="width: 100%;padding-left:100px;">
        <br><br><br><br><br><br>
        <h3 style="padding-left: 550px; "><b>Accept Help</b></h3>
    <form method="post">
        <table border="2" width="350px" style="background-color: violet;" align="center">

            <tr style="background-color: rgb(7, 163, 20);">
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Address</th>
                <th>Place</th>
                <th>Pincode</th>
                <th>District</th>
                <th colspan="2">Action</th>
            </tr>
            {% for x in user %}
            <tr>
                <td>{{ x.user.name }}</td>
                <td>{{ x.user.contact }}</td>
                <td>{{ x.user.email}}</td>
                <td>{{ x.user.address }}</td>
                <td>{{ x.user.place.place }}</td>
                <td>{{ x.user.place.pincode }}</td>
                <td>{{ x.user.place.district.district }}</td>
                <td>
                    
                    <a href="{% url 'Wizards:Reject-Help' x.id %}">Reject</a>
                <p> <a href="{% url 'Wizards:Chat-User' x.id %}">Chat Now</a></p>
                </td>
            </tr>
            {% endfor %}

        </table>
    </form>
    </div>
</body>
</html>
<br><br><br><br><br><br><br><br><br>
{% endblock %}