<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Hii</h1> 
   
   <a href="{%  url 'Wizards:my-profile' %}">My Profile</a>
   <a href="{%  url 'Wizards:Edit-profile' %}">Edit Profile</a>
   <a href="{%  url 'Wizards:Change-password' %}">Changepassword</a>
   <a href="{%  url 'Wizards:View-complaint' %}">Viewcomplaint</a>
   <a href="{%  url 'Wizards:ViewAccept-Help' %}">ViewAccepthelp</a>
   <a href="{%  url 'Wizards:ViewReject-Help' %}">ViewRejectcomplaint</a>
   <a href="{%  url 'Wizards:Logout' %}">Logout</a>
</body>
</html>