<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab">
        <br><br>
    <form method="post">
        {% csrf_token %}
        <table border="2" cellspadding="10" align="center">
            <tr>
                <th>Stock</th>
                <td>
                    <input type="text" name="stock">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="btnsubmit" value="save">
                    <input type="reset" name="btncancel" value="cancel">
                </td>
            </tr>
        </table>
    </form>
   </div>
</body>
</html>