<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hii</h1>

    <a href="{%  url 'User:my-profile' %}">My Profile</a>
    <a href="{%  url 'User:edit-profile' %}">edit Profile</a>
    <a href="{%  url 'User:change-password' %}">change password</a>
    <a href="{%  url 'User:View-wizard' %}">View wizard</a>
    <a href="{%  url 'User:Add-product' %}">Add product</a>
    <a href="{%  url 'User:Search-product' %}">Search-product</a>
    <a href="{%  url 'User:Search-medicine' %}">Search Medicine</a>
    <a href="{%  url 'User:Search-services' %}">Search services</a>
    <a href="{%  url 'User: View-product' %}">Orders</a>
    <a href="{%  url 'User:View-bookmedicine' %}">My bookmedicine</a>
    <a href="{%  url 'User:View-bookproduct' %}">My bookproduct</a>
    <a href="{%  url 'User:View-product' %}">View bookings</a>
    <a href="{%  url 'User:Send Feedback' %}">Send Feedback</a>
    <a href="{%  url 'User:View-wizard' %}">View Consultation</a>
    <a href="{%  url 'User:send-complaint' %}">send complaint</a>
    <a href="{%  url 'User:Viewuser-complaint' %}">Viewmy complaint</a>
    <a href="{%  url 'User:Delivering date' %}">Delivering Date</a>
    <a href="{%  url 'User:logout' %}">Logout</a>
  
</body>
</html>