{% extends 'User/Head.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="tab" style="width: 100%;padding-left:100px;">
        <br><br><br><br><br><br>
        <h3 style="padding-left: 550px; "><b>Manage Order</b></h3>
    <form method="post">
        <table border="2" width="350px" style="background-color: violet;" align="center">
            <tr style="background-color: rgb(7, 163, 20);">

                    <th>Photo</th>
                    <th>Name</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Bookingdate</th>
                    <th>Totalprice</th>
                    <th>Delivering</th>

                    <th colspan="2" align="center">Action</th>
                </tr>

                {% for x in product %}
                <td>
                    <img src="{{x.product.photo.url}}" width="120" height="120">
                </td>
                <td>{{ x.product.name}}</td>
                <td>{{ x.product.rate }}</td>
                <td>{{ x.quantity}}</td>
                <td>{{ x.bod}}</td>
                <td>{{ x.totalprice}}</td>
                <td>{{ x.delivering}}</td>
                <td>
                    {% if x.vstatus == 0 %}
                    <a href="{% url 'User:Accepted-order' x.id %}">Accept</a>
                    <a href="{% url 'User:Rejected-order' x.id %}">Reject</a>
                    {% elif x.vstatus == 1 %}
                    {% if x.dstatus == 0 %}
                    <p><a href="{% url 'User:Delivering date' x.id %}">Delivery</a></p>
                    {% else %}
                    <p>{{x.delivering}}</p>
                    {% endif %}
                    {% else %}
                    <p>Rejected</p>
                    {% endif %}
                </td>
                </td>
                </tr>
                {% endfor %}

            </table>

        </form>
    </div>
</body>

</html>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}