{% extends 'User/Head.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab">
        <br><br><br>
    <form method="post">
        <table border="2">
            <tr>
                <th>Content</th>
                <th>Attachment</th>
            </tr>
            {%  for i in complaint %}
            <tr>
                <td>{{i.doc}}</td>
                <td>{{i.content}}</td>
                <td><a href="{{i.attachment.url}}" download>Download</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    </div>
</body>
</html>
<br><br><br>

{% endblock %}