{% extends 'Designer/Head.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab" style="width: 100%;padding-left:100px;">
        <br><br><br><br><br><br>
        <h3 style="padding-left: 450px; "><b>View Designercomplaint</b></h3>
    <form method="post">
        <table border="2" width="350px" style="background-color: violet;" align="center">

            <tr style="background-color: rgb(7, 163, 20);">
                <th>Date</th>
                <th>Content</th>
                <th>Attachment</th>
                <th>Replay</th>
            </tr>
            {%  for i in complaint %}
            <tr>
                <td>{{i.doc}}</td>
                <td>{{i.content}}</td>
                <td><a href="{{i.attachment.url}}" download>Download</a></td>
                <td>{{i.replay}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
    </div>
</body>
</html>
<br><br> <br><br> <br><br><br><br> <br><br>
{% endblock %}