<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hii</h1>
    <a href="{%  url 'Designer:my-profile' %}">My Profile</a>
    <a href="{%  url 'Designer:edit-profile' %}">edit Profile</a>
    <a href="{%  url 'Designer:change-password' %}">change password</a>
    <a href="{%  url 'Designer:Add-Services' %}">Add Services</a>
    <a href="{%  url 'Designer:Feedback Designer' %}">Designer Feedback</a>
    <a href="{%  url 'Designer:Viewcomplaint Designer' %}">Viewmy complaints</a>
    <a href="{%  url 'Designer:Viewcomplaint user' %}">Viewuser complaints</a>
    <a href="{%  url 'Designer:Complaint Designer' %}">Send complaints</a>
    <a href="{%  url 'Designer:logout' %}">Logout</a>
</body>
</html>