{% extends 'Admin/Head.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab" style="width: 100%;padding-left:400px;">
        <br><br><br><br><br><br>
    <form method="post">
        {% csrf_token %}
        <h1 style="padding-left: 90px; "><b>Add District</b></h1>
        <table border="2" style="background-color: violet;"  width="350px;" >
            <tr style="padding-left: 5px;">
                <th>    <b>District   </b> </th>
                <td>
                    <input type="text" name="district" value="{{dname.district}}" required autocomplete="off">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color: violet;">
                    <input type="submit" name="btnsave" value="save">
                    <input type="reset" name="btncancel" value="cancel">
                </td>
            </tr>
        </table>
    <br>
    <hr>
    <br>
    <table border="1" align="center"  cellspadding="10" style="background-color: violet;">
        <tr>
            <th>District</th>
            <th colspan="2">Action</th>
        </tr>
        {% for x in name %}
        <tr>
            <td>{{ x.district }}</td>
            <td><a href="{% url 'Admin:del-dis' x.id %}">Delete</a></td>
            <td><a href="{% url 'Admin:edit-dis' x.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    </form>
</div>
</body>
</html>
<br><br><br><br><br><br><br><br>
{% endblock %}