{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Tillage - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="{% static 'Admin/images/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'Admin/css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'Admin/style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'Admin/css/responsive.css' %}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static 'Admin/css/colors.css' %}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'Admin/css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'Admin/css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'Admin/css/custom.css' %}" />
      <!-- form.css -->
	<link rel="stylesheet" href="{% static 'form.css' %}">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{% static 'Admin/images/layout_img/user_img.jpg' %}" alt="#" /></div>
                        <div class="user_info">
                           <h6>Thresiamma Mathew</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-paper-plane red_color"></i> <span>Add New</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="{%  url 'Admin:District' %}">><span>Add District</span></a>
                           </li>
                           <li>
                              <a href="{%  url 'Admin:Place' %}">> <span>Add Place</span></a>
                           </li>
                           <li>
                              <a href="{%  url 'Admin:Category' %}">> <span>Add Category</span></a>
                           </li>
                           <li>
                              <a href="{%  url 'Admin:Medicinecategory' %}">> <span>Add Medicinecategory</span></a>
                           </li>
                           <li>
                              <a href="{%  url 'Admin:Addwizards' %}">> <span>Add Wizards</span></a>
                           </li>
                        </ul>
                     </li>
                    
                     <li>
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>View Newones</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="{%  url 'Admin:Shop' %}">> <span>Newshop</span></a></li>
                           <li><a href="{%  url 'Admin:User' %}">> <span>Newuser</span></a></li>
                           <li><a href="{%  url 'Admin:Designer' %}">> <span>Newdesigner</span></a></li>
                        </ul>
                     </li>
                    
                     <li>
                        <a href="#element1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clock-o orange_color"></i> <span>ViewAccept</span></a>
                        <ul class="collapse list-unstyled" id="element1">
                           <li><a href="{%  url 'Admin:AcceptShop' %}">> <span>Acceptedshop</span></a></li>
                           <li><a href="{%  url 'Admin:Acceptuser' %}">> <span>Accepteduser</span></a></li>
                           <li><a href="{%  url 'Admin:Acceptdesigner' %}">> <span>Accepteddesigner</span></a></li>
                        </ul>
                     </li>
                     
                     <li>
                        <a href="#element2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clock-o orange_color"></i> <span>ViewReject</span></a>
                        <ul class="collapse list-unstyled" id="element2">
                           <li><a href="{%  url 'Admin:Rejectshop' %}">> <span>Rejectedshop</span></a></li>
                           <li><a href="{%  url 'Admin:Rejectuser' %}">> <span>Rejecteduser</span></a></li>
                           <li><a href="{%  url 'Admin:Rejectdesigner' %}">> <span>Rejecteddesigner</span></a></li>
                        </ul>
                     </li>
                     
                   
                     
                     <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>ViewFeedback</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="{%  url 'Admin:shopFeedback' %}">> <span>ShopFeedback</span></a>
                           </li>
                           <li>
                              <a href="{%  url 'Admin:UserFeedback' %}">> <span>UserFeedback</span></a>
                           </li>
                           <li>
                              <a href="{%  url 'Admin:DesignerFeedback' %}">> <span>DesignerFeedback</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="active">
                        <a href="#additional_page1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-briefcase blue1_color"></i> <span>ViewComplaints</span></a>
                        <ul class="collapse list-unstyled" id="additional_page1">
                           <li>
                              <a href="{%  url 'Admin:Shopcomplaint' %}">> <span>ShopComplaints</span></a>
                           </li>
                           <li>
                              <a href="{%  url 'Admin:Usercomplaint' %}">> <span>Usercomplaint</span></a>
                           </li>
                           <li>
                              <a href="{%  url 'Admin:Designercomplaint' %}">> <span>Designercomplaint</span></a>
                           </li>
                        </ul>
                     </li>
                     
                    
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content" style="width: 100%; ">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        
                        
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <ul class="user_profile_dd">
                                       <li>
                                          <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'Admin/images/layout_img/user_img.jpg' %}" alt="#" /><span class="name_user"></span></a>
                                          <div class="dropdown-menu">
                                            
                                             <a class="dropdown-item" href="{%  url 'Admin:Logout' %}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                          </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->

               {% block content %}


               {% endblock %}

                   <!-- footer -->
                  
              </div>
              <!-- end dashboard inner -->
           </div>
        </div>
        <div class="container-fluid">
         <div class="footer">
            <p>Copyright © 2022 Designed by html.design. All rights reserved.<br><br>
               Distributed By: <a href="https://themewagon.com/">Thresiamma Mathew</a>
            </p>
         </div>
      </div>
     </div>
     <!-- jQuery -->
     <script src="{% static 'Admin/js/jquery.min.js' %}"></script>
     <script src="{% static 'Admin/js/popper.min.js' %}"></script>
     <script src="{% static 'Admin/js/bootstrap.min.js' %}"></script>
     <!-- wow animation -->
     <script src="{% static 'Admin/js/animate.js' %}"></script>
     <!-- select country -->
     <script src="{% static 'Admin/js/bootstrap-select.js' %}"></script>
     <!-- owl carousel -->
     <script src="{% static 'Admin/js/owl.carousel.js' %}"></script> 
     <!-- chart js -->
     <script src="{% static 'Admin/js/Chart.min.js' %}"></script>
     <script src="{% static 'Admin/js/Chart.bundle.min.js' %}"></script>
     <script src="{% static 'Admin/js/utils.js' %}"></script>
     <script src="{% static 'Admin/js/analyser.js' %}"></script>
     <!-- nice scrollbar -->
     <script src="{% static 'Admin/js/perfect-scrollbar.min.js' %}"></script>
     <script>
        var ps = new PerfectScrollbar('#sidebar');
     </script>
     <!-- custom js -->
     <script src="{% static 'Admin/js/custom.js' %}"></script>
     <script src="{% static 'Admin/js/chart_custom_style1.js' %}"></script>
  </body>
</html>