<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hii</h1>
    <a href="{%  url 'Admin:My-profile' %}">Myprofile</a>
    <a href="{%  url 'Admin:User' %}">Newuser</a>
    <a href="{%  url 'Admin:Shop' %}">Newshop</a>
    <a href="{%  url 'Admin:Designer' %}">Newdesigner</a>
    <a href="{%  url 'Admin:District' %}">Adddistrict</a>
    <a href="{%  url 'Admin:Place' %}">Addplace</a>
    <a href="{%  url 'Admin:Category' %}">Addcategory</a>
    <a href="{%  url 'Admin:Rejectuser' %}">Rejectuser</a>
    <a href="{%  url 'Admin:Rejectshop' %}">Rejectshop</a>
    <a href="{%  url 'Admin:Rejectdesigner' %}">Rejectdesigner</a>
    <a href="{%  url 'Admin:AcceptShop' %}">AcceptShop</a>
    <a href="{%  url 'Admin:Acceptuser' %}">Acceptuser</a>
    <a href="{%  url 'Admin:Acceptdesigner' %}">Acceptdesigner</a>
    <a href="{%  url 'Admin:Medicinecategory' %}">Medicinecategory</a>
    <a href="{%  url 'Admin:UserFeedback' %}">UserFeedback</a>
    <a href="{%  url 'Admin:DesignerFeedback' %}">DesignerFeedback</a>
    <a href="{%  url 'Admin:shopFeedback' %}">ShopFeedback</a>
    <a href="{%  url 'Admin:Usercomplaint' %}">Usercomplaint</a>
    <a href="{%  url 'Admin:Designercomplaint' %}">Designercomplaint</a>
    <a href="{%  url 'Admin:Shopcomplaint' %}">Shopcomplaint</a>
    <a href="{%  url 'Admin:Addwizards' %}">Add wizard</a>
    <a href="{%  url 'Admin:Logout' %}">Logout</a>
</body>
</html>